
<form method="post" action="/new" class="form">
    <h2 class="name">Add a celebrity</h2>
    <label for="name" class="label"> Name </label> <br>
    <input id="name" type="text" name="name" class="input" value="fake name"> <br>
    <label for="occupation" class="label">Occupation</label> <br>
    <input id="occupation" type="text" name="occupation" class="input"> <br>
    <label for="catchphrase" class="label" >Catch Phrase</label> <br>
    <input id="catchphrase" type="text" name="catchphrase" class="input"> <br>
    <button class="btn">ADD</button>
</form>